body {
    background-color: white;
}
.container {
    display: inline-flex;
    padding: 20px;
    border: solid rgba(75, 75, 75, 0.495);
    border-width: 5px;
    border-radius: 15px;
    background-color: black;


}
.icon {
    background-color: black;
    width: 200px;
    height: 300px;

    
}
.form {
    background-color: black;
    width: 400px;
    height: 300px;
    text-align: center;
    display: grid;
    padding-left: 40px;
    font-size: 10px;
    
}

.logo {
    width: 150px;
    height: 100px;
    padding: 50px
    
}
.sign img{
    width: 25px;
    margin-right: 10px;
    
}
.sign{
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    
}
hr {
    border: solid white;
    height: 0;
    width: 300px;

}
#ndish {
    width: 250px;
    height: 20px;
    padding: 2px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 10px;
}
h1 {
    padding-left: 30px;
    font-size: 30px;
}
.change {
    width: 250px;
    height: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-left: 20px;
}
#but {
    width: 100px;
    height: 30px;
    background-color: blue;
    color: white;
    border-radius: 15px;
    margin-bottom: 5px;
}
span {
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.icon img {
    object-position: right;
    
}
.link {
    background-color: white;
    text-decoration: none;
    font-size: 15px;
    width: max-content;
    border: solid white;
    border-radius: 10px;
}
#my-link {
    margin-right: 5px;
    text-decoration: none;
}